.ceps-page header {
  align-items: center;
  background-color: white;
  box-shadow: 1px 1px 10px 1px var(--main-gray-color);
  box-sizing: border-box;
  display: flex;
  height: 80px;
  justify-content: center;
  overflow: hidden;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.ceps-page main {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  position: relative;
  width: 100vw;
}

.ceps-page .left {
  background-image: url("../assets/image/map.svg");
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  flex-shrink: 0;
  height: 100vh;
  margin: 0;
  width: 60vw;
}

.ceps-page form {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 80px;
  position: relative;
}

.ceps-page form label {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.ceps-page .default-input {
  padding: 15px;
  width: 200px;
}

.ceps-page button {
  background-color: var(--main-green-color);
  border: 1px solid var(--main-green-color);
  border-radius: 20px;
  color: white;
  padding: 10px;
  transition: 500ms;
}

.ceps-page button:hover {
  background-color: inherit;
  color: var(--main-green-color);
}

.ceps-page .card {
  align-items: center;
  background-color: white;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: center;
  padding-top: 10px;
  position: fixed;
  left: 0;
  overflow-y: auto;
  top: 0;
  width: 100vw;
  z-index: 1;
}

button.close {
  background-color: rgb(176 9 12);
  border: 1px solid rgb(176 9 12);
  position: absolute;
  right: 5px;
  top: 5px;
  width: 100px;
}

button.close:hover {
  background-color: inherit;
  color: rgb(176 9 12);
}

.ceps-page .cep-data {
  border: 1px solid var(--main-gray-color);
  border-radius: 10px;
  cursor: default;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: 230px;
  justify-content: center;
  margin: 5px 10px;
  padding: 10px;
  width: 200px;
}

.cep-data .data span:nth-child(1) {
  font-weight: 600;
  padding-right: 10px;
  text-transform: capitalize;
  width: 80px;
}

.ceps-page .error {
  position: absolute;
  bottom: 20px;
}

@media screen and (max-width: 760px) {
  .ceps-page main {
    align-items: center;
    flex-direction: column;
  }

  .ceps-page .left {
    width: 90vw;
  }

  .ceps-page form {
    align-items: center;
    width: 100vw;
  }

  .ceps-page .default-input {
    font-size: 24px;
    padding: 25px 10px;
    width: 90vw;
  }

  .ceps-page button {
    padding: 15px 0;
    margin-bottom: 20px;
    width: 90vw;
  }

  .ceps-page button.close {
    width: 100px;
  }
}
