.palindrome-page {
  box-sizing: border-box;
  overflow: hidden;
  width: 100vw;
}

.palindrome-page header {
  align-items: center;
  background-color: white;
  border-bottom: 1px solid var(--main-gray-color);
  box-shadow: 1px 1px 10px 1px rgb(90 90 90);
  box-sizing: border-box;
  display: flex;
  height: 100px;
  justify-content: center;
  margin: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100vw;
}

.palindrome-page header h1 {
  color: rgb(64 96 142);
  font-size: 50px;
  margin: 20px auto;
  width: 400px;
}

.palindrome-page main {
  background-color: rgb(64 96 142);
  box-sizing: border-box;
  color: white;
  min-height: 100vh;
  padding-top: 120px;
  text-align: center;
  width: 100vw;
}

.palindrome-page blockquote {
  box-sizing: border-box;
  display: flex;
  font-size: 20px;
  flex-direction: column;
  margin: 20px auto;
  width: 80%;
}

.palindrome-page a {
  color: rgb(215, 231, 244);
  padding: 10px;
  word-break: break-all;
}

.palindrome-page h2 {
  font-weight: 200;
}

.palindrome-page label {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.palindrome-page label input {
  border: 1px solid rgb(130 130 130);
  box-sizing: border-box;
  border-radius: 5px;
  height: 30px;
  padding: 5px;
  text-align: center;
  width: 150px;
}

.palindrome-page button {
  background-color: var(--main-green-color);
  border: 1px solid var(--main-green-color);
  border-radius: 5px;
  box-sizing: border-box;
  color: white;
  display: block;
  height: 30px;
  margin: 5px auto;
  padding: 5px;
  transition: 300ms;
  width: 150px;
}

.palindrome-page button:hover {
  background-color: inherit;
  border-color: #b2faff;
  color: #b2faff;
}

.palindrome-page button.clear {
  background-color: rgb(177 40 40);
  border: 1px solid rgb(177 40 40);
}

.palindrome-page button.clear:hover {
  background-color: inherit;
  color: rgb(177 40 40);
}

.palindrome-page button:disabled,
.palindrome-page button:disabled:hover {
  background-color: rgb(145 143 143);
  border: rgb(145 143 143);
  color: white;
}

.palindromes {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  margin: auto;
  padding: 40px;
  width: 90vw;
}

.palindrome-page .palindrome {
  background-color: white;
  border: 1px solid var(--main-gray-color);
  border-radius: 5px;
  color: rgb(64 96 142);
  box-sizing: border-box;
  margin: 5px;
  padding: 10px;
  text-align: center;
  width: 80px;
}
