.home-page {
  background: #546b99 url("../assets/image/playground.jpg");
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
}

.home-page header {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.home-page header img {
  width: 700px;
}

.home-page main {
  display: flex;
  justify-content: center;
}

.home-page section.projects {
  align-items: center;
  background-color: rgb(20 20 20 / 50%);
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  height: 300px;
  justify-content: center;
  width: 80vw;
}

.home-page .projects a {
  align-items: center;
  background-color: rgb(255 255 255 / 60%);
  border: 1px solid white;
  border-radius: 10px;
  color: black;
  cursor: pointer;
  display: flex;
  height: 100px;
  justify-content: center;
  margin: 10px;
  text-decoration: none;
  transition: 300ms;
  width: 200px;
}

.home-page .projects a:hover {
  background-color: rgb(255 255 255 / 70%);
  transform: scale(1.09);
}

.home-page h2 {
  font-weight: 200;
}

@media (max-width: 760px) {
  .home-page section.projects {
    height: 500px;
    flex-direction: column;
  }

  .home-page header img {
    width: 300px;
  }
}
